<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--kvůli ochraně přihlašovacích údajů-->
    <appSettings>
        <add key="DbUserId" value="developer_user" />
        <add key="DbPassword" value="heslo" />
        <add key="DbDataSource" value="(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.160)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=xepdb1)))" />
    </appSettings>
</configuration>