<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--kvůli ochraně přihlašovacích údajů-->
	<appSettings>
		<add key="DbUserId" value="" />
		<add key="DbPassword" value="" />
		<add key="DbDataSource" value="(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=FEI-SQL3.UPCEUCEBNY.CZ)(PORT=1521)))(CONNECT_DATA=(SID=BDAS)))" />
	</appSettings>
</configuration>
